@model VASTQuickShoping.Models.Identity.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details.</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div class="container  bg-danger">
    <h4>List of roles for this user</h4>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user.</p>
    }
</div>

<table class=" table table-stripe table-hover">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>






<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-danger form-control" href="~/admin/category/insertar">Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-stripe table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width:40%;">NOMBRE</th>
                    <th style="width: 50%;">DESCRIPCION</th>
                    <th style="width: 10%;"></th>


                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        @(ViewBag.state == true ? "Activo":"Inactivo")
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
        <a class="dropdown-item" href="~/admin/category/index?state=true">Activo</a>
        <a class="dropdown-item" href="~/admin/category/index?state=false">Inactivo</a>

    </div>
</div>