<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Trabajo de SalazarTuanamaVegaAliaga</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">

    <link href="~/Assets/css/blanco.css" rel="stylesheet" />
    @RenderSection("MisEstilos", false)



</head>
<body>

    @using Microsoft.AspNet.Identity
    <section class="contain">
        <div class="item">
            <ul class="nav">
                <li class="nav-item active offset-1 ">
                    <a class="nav-link text-white" href="#">FONOCOMPRAS  203.7050 WHATSAPP Y ATENCIÓN AL CLIENTE 512-3333</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="mies">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">LINIO</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item  ">
                        <a class="nav-link text-white" href="#!">TOTTUS</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">SODIMAC</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="#!">SEGUROS</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">VIAJES</a>
                    </li>
                </ul>

            </div>
        </div>
    </section>




    <!--Navbar -->

    <nav id="header" class="mb-1 navbar navbar-expand-lg navbar-dark " style="background-color:#3e4353">
        <a class="navbar-brand offset-1" href="#"> <img src="~/Assets/images/p2.png" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/home/index">
                        Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="modalLoginForm">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Referencias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="#"><strong>Moda Hombre</strong></a>
                        <a class="dropdown-item" href="#">Polos</a>
                        <a class="dropdown-item" href="#">Casacas</a>
                        <a class="dropdown-item" href="#">Polerones</a>
                        <a class="dropdown-item" href="#"><strong>Moda Infantil</strong></a>
                        <a class="dropdown-item" href="#">Bodys</a>
                        <a class="dropdown-item" href="#">Pantalones y Jeans</a>
                        <a class="dropdown-item" href="#">Buzos y Conjuntos</a>
                    </div>
                </li>
            </ul>
            <form id="agrandar" class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="¿Qué es lo que buscas?" aria-label="Search">
            </form>
            <ul class="navbar-nav mr-auto nav-flex-icons">

                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>


                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                        <span>@(Request.IsAuthenticated? User.Identity.GetUserName() : "Mi Cuenta")</span>
                    </a>
                    @if (Request.IsAuthenticated)
                    {
                        <ul id="ha" class="dropdown-menu" aria-labelledby="dropwdownMenu1">
                            <li>
                                <form action="~/account/logoff" method="post" id="logoutForm">
                                    @Html.AntiForgeryToken()
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar</a>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="dropdown-menu" aria-labelledby="dropwdownMenu1">
                            <li>
                                @Html.AntiForgeryToken()
                                <a class="dropdown-item" href="~/account/login">Iniciar Sesion</a>
                                <a class="dropdown-item" href="~/account/register">Registrarse</a>
                            </li>
                        </ul>
                    }
                </li>
            </ul>
        </div>
    </nav>

    <!--/.Navbar -->


    <!---
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </div>-

    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
            Launch
            Modal Login Form
        </a>
    </div>-->



    <section class="conta">
        <div class="itemsegun">
            <ul class="nav">
                <li class="nav-item active offset-1">
                    <a class="nav-link text-dark font-weight-bold" href="#">NUESTRAS TIENDAS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark font-weight-bold" href="#">Todo</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark font-weight-bold" href="#">CMR PUNTOS</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link text-dark font-weight-bold" href="#">PAGA TU CMR</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark font-weight-bold" href="#">FONOCOMPRAS</a>
                </li>
                @if (User.IsInRole("Admin")|| User.IsInRole("Contador") || User.IsInRole("Gerente")|| User.IsInRole("Vendedor"))
                {
                    <li class="nav-item active">
                        <a class="nav-link text-dark font-weight-bold" href="~/Admin/Administrator">Administrar</a>
                    </li>
                }
            </ul>

        </div>
    </section>
    <br />

    <center>
        <div class="section">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </center>

    <br />
    <br />
    <br />
    <br />

    <!--footer-->
    <footer id="footer" class="pb-4 pt-4 ">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg">
                    <a href="#">Preguntas frecuentes</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Contactanos</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Prensa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Conferencias</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Terminos y condiciones</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Privacidad</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Informes</a>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)






    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

    @RenderSection("MisScripts", false)
    <script src="js/jquery.min.js"></script>
    <script src="js/lity.min.js"></script>
    <script src="~/Assets/js/app.js"></script>





</body>

</html>





